<div class="words-container">

  <div class="words-input">
    <div class="squirrel">
      <%= image_tag "squirrel.png", style: 'height:auto;width:70px;' %>
      <div>"Tell me your favorite word and I'll squirrel it away!"</div>
    </div>
    <div class="words-input-form">
      <input id="word_name" name="word[name]" size="30" type="text" />
      <button>Speak</button>
    </div>
  </div>

  <div class="words">
    <div>one</div>
    <div>two</div>
    <div>thre</div>
  </div>
</div>